/*
count.jsp中的样式
*/
.reporttypeBt {
	border: #000000;
	width: 220px;
	text-align: right;
	margin-left: 970px;
	margin-top: 1px;
	margin-bottom: -25px;
}

* {
	padding: 0;
	margin: 0
}

.sortable {
	background: #76AEF0;
	table-layout: fixed
}

.sortable tr {
	background: #E5F1FF;
	height: 20px
}

.sortheader {
	color: #fff;
	text-decoration: none
}
/*超出单元格隐藏内容*/
.sortable th,.sortable td {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}

.head th {
	background: #76AEF0;
	color: #fff;
	filter: progid:DXImageTransform.microsoft.gradient(gradienttype=0,
		startColorStr=#5075B4, endColorStr=#78B1F3 )
}

.list th {
	color: #000;
	font-weight: normal;
	border-top: 1px solid #fff
}

.list td {
	border-top: 1px solid #fff;
	border-left: 1px solid #fff
}
/*拖动单元格*/
.resizeDiv {
	width: 2px;
	overflow: hidden;
	float: right;
	cursor: col-resize
}

.sortarrow {
	color: #ffc;
	font-weight: normal
}

/*鼠标滑过行变色*/
.sortable tr:hover {
	background: RGB(255, 236, 141);
}

/*查询页面各个标签的样式*/
<!--
UL.tabNavigation {
	list-style: none;
	margin: 0;
	padding: 0;
	line-height: 30px;
	background-color: RGB(209, 223, 236);
}

UL.tabNavigation LI {
	display: inline;
}

UL.tabNavigation LI A {
	padding: 3px 5px;
	background-color: RGB(209, 223, 236);
	text-decoration: none;
	border: thin solid RGB(255, 255, 225);
}

UL.tabNavigation LI A.selected,UL.tabNavigation LI A:hover {
	background-color: #25A0F1;
	color: #fff;
	padding-top: 7px;
	padding-bottom: 8px;
	font-weight: bold;
}

UL.tabNavigation LI A:focus {
	outline: 0;
}

div.tabs>div {
	padding: 5px;
	margin-top: 1px;
	border: 2px solid #25A0F1;
	z-index: 10;
}

div.tabs>div h2 {
	margin-top: 0;
}

--> /*固定时间输入框的表格样式*/
.topzero {
	margin-bottom: 4px;
}

/*点击高级展开后各个查询框的标签*/
.hightitle {
	color: RGB(235, 133, 7);
	font-size: 16px; /*字体大小*/
	font-weight: bold; /*粗体*/
	margin-top: 6px;
	text-align: left;
}

/*各个单独查询按钮样式*/
.subbtn {
	display: true;
}

.subbtn1 {
	display: none;
}

/*点击“高级”前，单独的查询框表格宽度*/
.oldTable {
	position: relative;
	width: 100%;
	border: thin solid;
	text-align: left;
}

.oldTable tr th,.oldTable tr td {
	border: thin solid #CFBCAA;
}

/*点击“高级”后，单独的查询框表格宽度*/
.newTable {
	width: auto;
}

/*复合查询按钮的样式*/
.allSearchDiv {
	position: relative;
	text-align: right;
	border: thin solid;
	margin-top: 2px;
	width: 100%;
	/* display:none; */
}